html {
  background-color: rgb(255, 247, 236);
  scroll-behavior: smooth;
  font-family: "Titillium Web", sans-serif;
}

/*---------------------Section 1----------------------*/
.section1 {
  height: 90vh;
  color: rgb(152, 11, 11);
  position: relative;
  margin-top: 70px !important;
}

.section1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #832020;
  -webkit-clip-path: polygon(
    100% 0%,
    100% 51%,
    100% 100%,
    25% 100%,
    74% 52%,
    25% 0%
  );
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 74% 52%, 25% 0%);
}

.my-first-content {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.intro-text {
  margin: 100px 10% 0 25%;
}

.intro-text h1 a {
  text-decoration: none;
  font-size: 2.5rem;
  color: rgb(24, 16, 16);
}

.intro-text h3 {
  width: 100%;
  justify-content: center;
  color: rgb(from color r g b);
}

.downloadcv-button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: rgb(152, 11, 11);
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

/*Button*/
.downloadcv-button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: rgb(152, 11, 11);
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.downloadcv-button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.downloadcv-button span:not(hover) {
  transition: all 1s;
}

/* My image */
.my-image {
  /* margin: 50px 35% 0 10%; */
  display: flex;
  margin-top: 50px;
  /* align-items: center; */
  justify-content: center;
}

.my-image .img1 {
  width: 400px;
  height: 400px;
  clip-path: circle(50% at 50% 50%);
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end position */
  }
  50% {
    transform: translateY(-20px); /* Peak position (adjust as needed) */
  }
}

/*------------------------------Section 2----------------------------------*/

.section2 {
  height: 100%;
  color: rgb(28, 12, 6);
  position: relative;
}

.section2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  /* Adjusted to position on the right */
  width: 90%;
  /* Adjust width as needed */
  height: 100%;
  background: #832020;
  /* Replace with your desired background color */
  -webkit-clip-path: polygon(100% 0, 51% 55%, 100% 100%);
  clip-path: polygon(100% 0, 51% 55%, 100% 100%);
  z-index: -1;
  /* This ensures the shape stays behind your content */
}

.project-section-title {
  opacity: 0;
  margin-top: 7%;
  text-align: center;
  font-size: 1.5rem;
}

.project-section-title h1 {
  color: #832020;
  display: inline;
  border-bottom: solid rgb(131, 32, 32);
  border-bottom-width: 8px;
}

.sec2-first-content {
  /* margin-top: 5%; */
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sec2-first-content .card1,
.sec2-first-content .card2,
.sec2-first-content .card3,
.sec2-first-content .card4 {
  margin-top: 3%;
  opacity: 0;
  width: 570px;
  height: 350px;
  cursor: pointer;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 0px 4px rgba(118, 118, 118, 0.04));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project1-card-image {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.project1-card-image img {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  transform-origin: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0s;
}
.project1-card-image img:hover {
  transform: scaleY(1.2);
}

.project1-card-content {
  /* padding: 20px; */
  /* word-break: break-word; */
  flex-direction: row;
  align-items: space-between;
}

.demo-button {
  padding: 8px 16px;
  background-color: rgb(131, 32, 32);
  color: #fff;
  border: #f3eeee solid 2px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 1s ease-in-out 0s;
}

.demo-button:hover {
  padding: 8px 16px;
  background-color: rgb(15, 12, 12);
  color: #fff;
  border: #f3eeee solid 2px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;
}

@media (max-width: 850px) {
  .project1-card {
    width: 300px;
  }
}

@media (max-width: 330px) {
  .project1-card {
    width: 220px;
  }
}
/*-------------------------------------------Section3 Start---------------------------------*/
.section3 {
  height: 100%;
  position: relative;
}

.section3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Adjusted to position on the right */
  width: 50%;
  /* Adjust width as needed */
  height: 100%;
  background: #832020;
  /* Replace with your desired background color */
  -webkit-clip-path: polygon(0 93%, 0 0, 81% 65%);
  clip-path: polygon(0 93%, 0 0, 81% 65%);
  z-index: -1;
  /* This ensures the shape stays behind your content */
}

.about {
  padding-top: 5%;
}
.intro-vd {
  justify-content: center;

  display: flex;
  flex-direction: row;
  width: 100%;
}
iframe {
  padding: 3%;
}

.about-title,
.edu-title,
.contact-title {
  opacity: 0;
  padding-bottom: 5%;
  color: rgb(131, 32, 32);
  font-size: 1.5rem;
  text-align: center;
}

.about-title h1,
.edu-title h1,
.contact-title h1 {
  display: inline;
  border-bottom: solid rgb(131, 32, 32);
  border-bottom-width: 8px;
}

/* ---------------------------------Style tab links---------------------- */
.tab-width {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.tablink {
  background-color: rgb(255, 247, 236);
  color: rgb(131, 32, 32);
  border: 5px solid rgb(131, 32, 32);
  outline: none;
  float: left;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: rgb(131, 32, 32);
  color: rgb(255, 247, 236);
  border: 5px solid rgb(255, 247, 236);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* #education {
  background-color:rgb(255, 247, 236);
}
#skills {
  background-color: rgb(255, 247, 236);
} */

.education-cards {
  color: rgb(131, 32, 32);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;

  /* gap:100px; */
}

.edu-card {
  opacity: 0;
  margin: 5%;
  background-color: rgb(255, 247, 236);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.school-name {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.degree {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
}

.graduation-year {
  font-size: 14px;
}

/*My Skills*/
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill {
  height: 100px;
  width: 100px;
  background-color: #980435;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: #f3eeee;
  justify-content: space-between;
  flex-direction: column;
  -webkit-box-shadow: 1px 2px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 18px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 18px -8px rgba(0, 0, 0, 0.75);
}

.skill-Image-container {
  width: 100%;
  height: 70%;
}

.skill img {
  width: 68px;
  height: "100%";
  /* position: absolute; */
}

.skill p {
  text-align: left;
  margin-top: 8px;
  position: absolute;
  font-weight: bold;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (max-width: 1024px) {
  .section1::before {
    width: 80%;
  }

  .my-first-content {
    padding-top: 10%;
  }

  .intro-text h1 a {
    font-size: 1.3rem;
  }

  .intro-text h3 {
    font-size: 1rem;
  }

  .downloadcv-button {
    padding: 0.1em 0.2em;
    width: 13em;
    height: 4.2em;
    font-size: 9px;
  }

  .my-image .img1 {
    width: 350px;
    height: 350px;
  }
}

/* @media (max-width:900px) {} */

@media (max-width: 768px) {
  .section1::before {
    width: 120% !important;
  }

  .my-first-content {
    padding-top: 20%;
  }

  .intro-text {
    margin: 50px 10% 0 15%;
  }

  .my-image .img1 {
    width: 250px;
    height: 250px;
  }

  iframe {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 590px) {
  .my-first-content {
    padding-top: 15%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .section1::before {
    top: 10%;
    width: 50%;
    height: 40%;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    z-index: -1;
  }

  .intro-text {
    margin: 3% 25% 0 15%;
  }

  .intro-text h1 a,
  .intro-text h3 {
    color: #fff7ec;
  }

  .intro-text h3 {
    font-size: 0.8rem;
  }

  .my-image {
    margin-top: 12px;
    position: relative;

    justify-content: flex-start;
  }
  .my-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #980435;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

    z-index: -1;
  }

  .my-image .img1 {
    margin-left: 10%;
    clip-path: none;
    width: 280px;
    height: 280px;
    animation: none;
  }

  iframe {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .section1::before {
    top: 5%;
    width: 50%;
    height: 40%;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    z-index: -1;
  }

  .my-image {
    margin-top: 5%;
  }
  .my-image .img1 {
    margin-left: 5%;
    clip-path: none;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 400px) {
  .my-image::before {
    -webkit-clip-path: none;
    clip-path: none;
  }
  .section1::before {
    top: 5%;
    width: 50%;
    height: 45%;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    z-index: -1;
  }

  .my-image {
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
  }
  .my-image .img1 {
    margin-left: 0;
  }

  iframe {
    width: 200px;
    height: 120px;
  }
}
