html{
    background-color: rgb(255, 247, 236);
    scroll-behavior: smooth;
}
/*---------------------Section 1----------------------*/
.section1{
    height:700px;
    background-color: rgb(255, 247, 236);
    color: rgb(152, 11, 11);
}
.first-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.intro-text {
    margin: 100px 10% 0 25%;
}

.intro-text h1 a{
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(24, 16, 16);
}


.intro-text h3 {
    width: 100%;
    justify-content: center;
    color: rgb(from color r g b);
}
.downloadcv-button {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: rgb(152, 11, 11);
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
  }
  /*Button*/
  .downloadcv-button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: rgb(152, 11, 11);
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  .downloadcv-button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  .downloadcv-button span:not(hover) {
    transition: all 1s;
  }
  
  

/* My image */
.my-image{
    /* margin: 50px 35% 0 10%; */
    margin-top: 50px;
    text-align: center;
}
.my-image .img1 {
    
    width: 500px;
    height:500px;
    clip-path: circle(50% at 50% 50%);
}




/*------------------------------Section 2----------------------------------*/

.section2{
    height:700px;
    color:  rgb(131, 32, 32);
}
.project-title{
    margin-top: 7%;
    text-align: center;
    font-size: 1.5rem;
}
.project-title h1{
    display: inline;
    border-bottom:solid  rgb(131, 32, 32);
    border-bottom-width: 8px ;
}


.second-content {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;

}

.project1-intro-text {
    margin: 100px 35% 0 10%;
}

.project1-intro-text h1 {
    color: rgb(24, 16, 16);
}

.project1-intro-text h3 {
    width: 100%;
    justify-content: center;
    color: rgb(from color r g b);
}

/* My image */
.project1{
    padding: 4px;
    background-color:  rgb(131, 32, 32);
    border-radius: 20px;
    width: 400px;
    height: 250px;
    margin-left: 40%;
    margin-top: 15%;
    
    
    
}.project1-image{
    text-align: center;
    justify-content: center;
    
}
.project1-image img{
    border-radius: 20px;
    width: 400px;
    height: 200px;
}
.project1 .live-demo-btn a{
   text-decoration: none;
}
.project1 .live-demo-btn a button{
   cursor: pointer;
   background-color: rgb(255, 247, 236);
   color: rgb(131, 32, 32);
   font-weight:bold;
   border-radius: 5px;
   height: 30px;
   border: none;
}



  
  

