html {
    background-color: rgb(255, 247, 236);
    scroll-behavior: smooth;
}

/*---------------------Section 1----------------------*/
.section1 {
    height: 700px;
    background-color: rgb(255, 247, 236);
    color: rgb(152, 11, 11);
}

.first-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.intro-text {
    margin: 100px 10% 0 25%;
}

.intro-text h1 a {
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(24, 16, 16);
}


.intro-text h3 {
    width: 100%;
    justify-content: center;
    color: rgb(from color r g b);
}

.downloadcv-button {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: rgb(152, 11, 11);
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
}

/*Button*/
.downloadcv-button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: rgb(152, 11, 11);
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.downloadcv-button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
}

.downloadcv-button span:not(hover) {
    transition: all 1s;
}



/* My image */
.my-image {
    /* margin: 50px 35% 0 10%; */
    margin-top: 50px;
    text-align: center;
}

.my-image .img1 {

    width: 500px;
    height: 500px;
    clip-path: circle(50% at 50% 50%);
}




/*------------------------------Section 2----------------------------------*/

.section2 {
    height: 700px;
    color: rgb(131, 32, 32);
}

.project-title {
    margin-top: 7%;
    text-align: center;
    font-size: 1.5rem;
}

.project-title h1 {
    display: inline;
    border-bottom: solid rgb(131, 32, 32);
    border-bottom-width: 8px;
}


.first-content {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;

}

.project1-intro-text {
    margin: 100px 35% 0 10%;
}

.project1-intro-text h1 {
    color: rgb(24, 16, 16);
}

.project1-intro-text h3 {
    width: 100%;
    justify-content: center;
    color: rgb(from color r g b);
}

.project1-card {

    margin: 50px 25% 0 35%;
    width: 400px;
    border: 1px solid  rgb(255, 247, 236);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.6s ease 0s;
    cursor: pointer;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.1);
  }

  .project1-card-image {
    margin-top: 4%;
    max-width: 100%;
    height: auto;
  }

  .project1-card-content {
    padding: 20px;
  }

  .demo-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(131, 32, 32);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .skills-list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
  }

  .skills-list li {
    margin-bottom: 5px;
    font-size: 12px;
    color: #888;
  }

  .project1-card:hover{
    transform: translateY(-10px);
  }

  /*----------------------------------------------------Project2-------------------------------------------*/
  .second-content {
    margin-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;

}
  .project2-intro-text {
    margin: 100px 10% 0 35%;
}

.project2-intro-text h1 {
    color: rgb(24, 16, 16);
}

.project2-intro-text h3 {
    width: 100%;
    justify-content: center;
    color: rgb(from color r g b);
}

.project2-card {

    margin: 50px 35% 0 10%;
    width: 400px;
    border: 1px solid  rgb(255, 247, 236);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.6s ease 0s;
    cursor: pointer;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.1);
  }

  .project1-card-image {
    margin-top: 4%;
    max-width: 100%;
    height: auto;
  }

  .project1-card-content {
    padding: 20px;
  }

  .demo-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(131, 32, 32);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .skills-list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
  }

  .skills-list li {
    margin-bottom: 5px;
    font-size: 12px;
    color: #888;
  }

  .project2-card:hover{
    transform: translateY(-10px);
  }
